.pagination-box{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: absolute;
  left: 0;
  margin-bottom: 30px;
  border-radius: 12px;;
  padding-top: 15px;
  padding-bottom: 15px;
}

/deep/.ant-pagination-next .ant-pagination-item-link,
/deep/.ant-pagination-prev .ant-pagination-item-link{
  border: none!important;
  color: #0071ce!important;
}

/deep/.ant-pagination-disabled .ant-pagination-item-link, /deep/.ant-pagination-disabled a{
  color: #ddd!important;
}

/deep/.ant-pagination-item{
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border-color: transparent;
  width: 30px;
  height: 30px;
  color: #000;
  text-align: center;
  line-height: 29px;
}

/deep/.ant-pagination-item-active a, /deep/.ant-pagination-item:focus a {
  padding: 0;
  background-color: #0071ce;
  border-color: #0071ce;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff!important;
  text-align: center;
}
/deep/.ant-pagination-item a {
  display: block;
  padding: 0 6px;
  color: rgba(0,0,0,.65);
  transition: none;
}

/deep/.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis,
/deep/.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis {
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  color: #000;
  letter-spacing: 1px;
  text-align: center;
  text-indent: .13em;
  opacity: 0.8;
  transition: all .2s;
  font-weight: lighter;
}

/deep/.anticon-double-right,
/deep/.anticon-double-left{
  visibility: hidden;
}
