<app-search-bar [searchText]="searchText" (searchQuery)="onSearchQuery($event)"></app-search-bar>
<div class="product-result">
  <p >Resultados<span [hidden]="!searchText"> para <strong>{{searchText}}</strong></span>:</p>
  <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
    Ordenar por: destacados
    <i nz-icon nzType="down"></i>
  </button>
  <nz-dropdown-menu #menu4="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>Destacados</li>
      <li nz-menu-item>Menor precio</li>
      <li nz-menu-item>Mayor precio</li>
      <li nz-menu-item>Menor descuento</li>
    </ul>
  </nz-dropdown-menu>
</div>
<div nz-row class="product-list">
  <div nz-col  nzSm="0" nzLg="6"></div>
  <div nz-col nzSm="24" nzLg="18">
    <div nz-row  class="body-sm">
      <div nz-col nzSm="8" nzLg="6" style="padding: 3px" *ngFor="let p of productsPage?productsPage.products:[]">
        <div class="product-item" >
          <a>
            <div class="product-item-img">
              <img [src]="['https://'+p.image]" height="220px" width="220px" alt="">
              <div class="product-image-shadow"></div>
            </div>
            <div class="product-item-body">
              <div class="product-item-title">
                <strong>{{p.brand}} </strong><span>{{p.description}}</span>
              </div>
              <div class="product-item-description">
                ${{this.formatPrice(p.priceWithDiscount>0?p.priceWithDiscount:p.price)}} <div class="product-item-discount" [hidden]="p.discount<=0">{{p.discount}}%</div>
              </div>
              <div ><span [hidden]="p.discount<=0" class="product-item-price-old">${{this.formatPrice(p.price)}}</span></div>
            </div>
            <div class="product-item-labels">
              <div class="label-home-delivery"><img alt="" src="assets/images/despacho-icon.svg" height="20px" width="17px"/><span>despacho</span></div>
              <div class="label-store-delivery"><img alt="" src="assets/images/delivery-icon.svg" height="14px" width="17px"/><span>retiro</span></div>
            </div>
            <div class="btn-box">
              <button nz-button class="btn-add" nzType="link" >Agregar</button>
            </div>
          </a>
        </div>
      </div>
    </div>
    <app-pagination [hidden]="productsPage?productsPage.totalPages<=0:true" [numberPages]="productsPage?productsPage.totalPages:1" [selectedPage]="pageNumber" [sizePage]="productsPage?productsPage.size:12" (changePage)="onSetPageNumber($event)"></app-pagination>
  </div>
</div>
<app-footer></app-footer>



